aiofiles==0.6.0
astroid==2.4.2
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
ecdsa==0.14.1
fastapi==0.63.0
h11==0.12.0
idna==2.10
isort==5.7.0
jwt==1.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
Naked==0.1.31
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.7.3
pylint==2.6.0
python-jose==3.2.0
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
shellescape==3.8.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
urllib3==1.26.3
uvicorn==0.13.3
wrapt==1.12.1
